.portfolio {
    background-color: #F6F6F6;
    padding-bottom: 96px;
    &__wrapper {
        text-align: center;
    }

    &__title {
        font-size: 34px;
        line-height: 42px;
        padding-top: 112px;
    }

    &__blocks {
    }

    &__items {
    }

    &__blocks--img {
        padding-bottom: 44px;
        padding-top: 98px;
    }

    &__blocks--link {
        &:hover{
            text-decoration: underline;
        }
        a{
            color: $main;
        }
    }
}

